<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Join !</title>
</head>
<body>
<h1>join my website!</h1>
<section class="message"><%= message %></section>
<form action="/join" method="post">
    email: <input type="text" name="email"><br>
    password: <input type="text" name="password"><br><br>
    <input type="submit">
</form>
</body>
</html>