<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>main.ejs</title>
</head>
<body>
<h1>main page</h1>
<p>this is main.html</p>

<h3>welcome, <%= id %> 번째 가입자 입니다.</h3>

<div><a href="/logout">logout</a></div>
</body>
</html>